rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    
    // Materials can be read by anyone, but only written by authenticated admins.
    match /materials/{docId} {
      allow read: if true;
      allow write: if request.auth != null;
    }
    
    // Social links can be read by anyone, but only written by authenticated admins.
    match /social-links/{docId} {
      allow read: if true;
      allow write: if request.auth != null;
    }

    // Feedback can be created by anyone, but only managed by authenticated admins.
    match /feedback/{docId} {
      allow create: if true;
      allow read, update, delete: if request.auth != null;
    }

    // Bug reports can be created by anyone, but only managed by authenticated admins.
    match /bug-reports/{docId} {
      allow create: if true;
      allow read, update, delete: if request.auth != null;
    }
  }
}
